div.band {
    background-color: $brand-color;
    section {
      @include container;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      padding: 4rem;
      .merch {
        display: flex;
        align-items: center;
        gap: 1rem;
         .merch-img {
              width: 100px;

              margin: 0 auto;
              img {
                 width: 100%;
              }
         }
         .merch-text {
            color: white;
         }
      }
      .component {
        color: white;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        column-gap: 1rem;
      }
    }
  }
