/***** COLORS *****/

/***** End COLORS *****/

/***** SIZES *****/

/***** End SIZES *****/

header {
  background-color: #fff;
  font-family: sans-serif;
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

header .header-container nav {
  display: flex;
}

header .header-container nav a {
  color: #303030;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.6rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
}

header .header-container nav a.active {
  color: #0282f9;
}

header .header-container nav a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  text-align: center;
  width: 80%;
  height: 3px;
  margin: 0 auto;
  background-color: #0282f9;
}

section.footers {
  background-color: #303030;
  z-index: 10;
}

section.footers .upper-footer {
  position: relative;
  background-image: url("/img/footer-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}

section.footers .upper-footer .container {
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.footers .upper-footer .container .link-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

section.footers .upper-footer .container .link-section .link {
  margin-top: 1rem;
}

section.footers .upper-footer .container .link-section .link h3 {
  color: white;
}

section.footers .upper-footer .container .link-section .link ul {
  list-style: none;
}

section.footers .upper-footer .container .link-section .link ul li a {
  color: white;
  text-decoration: none;
}

section.footers .upper-footer .container .link-section .link ul li a:hover {
  color: #0282f9;
}

section.footers .upper-footer .container .footer-jumbo {
  align-self: flex-end;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position-y: -50px;
  width: 50%;
  height: 100%;
}

section.footers .down-footer {
  background-color: #303030;
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.social span {
  font-size: 2rem;
  color: #0282f9;
  margin-right: 1rem;
}

.social .social-icons img {
  margin-right: 1rem;
}

button {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  border: 2px solid #0282f9;
}

.main section {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  color: white;
}

.main .badge {
  position: absolute;
  padding: 0.5rem 2rem;
  top: 0;
  transform: translateY(-50%);
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}

.main .grid {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  align-items: start;
}

.main .component {
  text-transform: uppercase;
}

.main .comic {
  aspect-ratio: 1/1;
}

.main .more {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

.main .more button {
  background-color: #0282f9;
  color: white;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GretaSens;
  src: url("/fonts/GretaSansStd-Medium.woff2");
  font-weight: normal;
}

@font-face {
  font-family: GretaSens;
  src: url("/fonts/GretaSansCondensedStd-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: GretaSens;
  src: url("/fonts/GretaSansCondensedStd-SemiBold.woff2");
  font-weight: 500;
}

body {
  background-color: #1C1C1C;
  font-family: GretaSens, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover,
li:hover {
  color: #0282f9 !important;
  cursor: pointer;
}

.jumbotron {
  height: 450px;
  background-image: url("/img/jumbotron.jpg");
  background-attachment: fixed;
}

div.band {
  background-color: #0282f9;
}

div.band section {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
}

div.band section .merch {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.band section .merch .merch-img {
  width: 100px;
  margin: 0 auto;
}

div.band section .merch .merch-img img {
  width: 100%;
}

div.band section .merch .merch-text {
  color: white;
}

div.band section .component {
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

